@import "src/vars";

#header-title-div {
  z-index: 3;
  display: flex;
  position: absolute;
  height: $default-title-div-height;
  line-height: $header-font-size;
  right: calc($header-menu-icon-width + 0.5rem);
  top: 0.5rem;
  padding: 0.4rem 0.5rem;
  width: $header-menu-title-width;
  border-radius: 0.25rem 0 0 0.25rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $header-title-font-size;
  align-items: center;
  justify-content: center;
}
#header-title-div span {
  color: $copsi-blue;
}
#app-title {
  margin: 0 1rem;
}

#copsi-logo {
  margin: 0;
  height: 1.2rem;
}


#centre-logo {
  padding: 0;
  height: 2rem;
}

#header-menu-div {
  z-index: 3;
  display: flex;
  position: absolute;
  line-height: $header-font-size;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.25rem 0.5rem;
  width: $header-menu-icon-width;
  height: $default-title-div-height;
  gap: 0 0.25rem;
  border-radius: 0 0.25rem 0.25rem 0;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $main-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $header-font-size;
  align-items: center;
  justify-content: space-around;
}

#user-icon {
  transition: all 0.15s ease-in-out;
}
#user-icon:hover {
  opacity: 0.7;
}

#settings-icon {
  transition: all 0.15s ease-in-out;
}
#settings-icon:hover {
  opacity: 0.7;
}

#user-menu {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  top: 3rem;
  right: 0.5rem;
  width: $header-menu-width;

  border-radius: 0.25rem;
  border: $menu-dark-border;
  box-shadow: $default-shadow;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
}

#user-image {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

#settings-menu {
  z-index: 3;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  top: 3rem;
  right: 0.5rem;
  width: $header-menu-width;

  border-radius: 0.25rem;
  border: $menu-dark-border;
  box-shadow: $default-shadow;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
}

#settings-image {
  font-size: 3rem;
  height: 3rem;
  width: 3rem;
}

.menu-item{
  display: flex;
  width: 100%;
  padding: 0 1rem;
  justify-content: space-between;
}

#map-style {
  color: $main-dark-text-color;
  background-color: #0000;
  border: 0;
  border-bottom: $main-light-border;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  color: $main-dark-text-color;
  width: $header-font-size;
  height: $header-font-size;
  border: 1px solid $main-dark-text-color;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

#show-labels {
  color: $main-dark-text-color;
  background-color: $main-dark-bg-color;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.75em;
  height: 0.75em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em $copsi-blue;
  background-color: $main-dark-text-color;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#logout:hover {
  background-color: #8a8a8a !important;
}

#logout {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.button-icon {
  margin: 0rem 0.4rem;
}

