<div id="header-title-div">
  <!-- <img id="centre-logo" src="assets/images/logo-asi-white.png" alt="ASI logo">
  <p id="app-title">Italian National Mirror</p> -->
  <img id="copsi-logo" src="../../assets/images/COPSI_logo.svg" alt="Copsi logo">
  <p id="app-title"><span>COP</span>ernicus <span>S</span>pace <span>I</span>nterface</p>
  <!--<img id="copsi-logo" src="assets/images/COPSI_logotipo.svg" alt="Copsi logo">-->
</div>
<div id="header-menu-div">
  <mat-icon id="user-icon" aria-hidden="false" aria-label="Account icon" fontIcon="account_circle" (click)="onUserMenuClick($event)"></mat-icon>
  <mat-icon id="settings-icon" aria-hidden="false" aria-label="Settings icon" fontIcon="settings" (click)="onSettingsMenuClick($event)"></mat-icon>
</div>

<div id="user-menu" [@headerMenuAnimation]="showUser ? 'open' : 'closed'" (click)="onMenuClicked($event)">
  <mat-icon id="user-image" aria-hidden="false" aria-label="Account image" fontIcon="account_circle"></mat-icon>
  <p>MyUserName</p>
  <hr style="width:100%;">
  <p>Some useful information</p>
  <p>...and other...</p>
</div>

<div id="settings-menu" [@headerMenuAnimation]="showSettings ? 'open' : 'closed'" (click)="onMenuClicked($event)">
  <mat-icon id="settings-image" aria-hidden="false" aria-label="Settings image" fontIcon="settings"></mat-icon>
  <p>Map Settings</p>
  <hr style="width:100%;">
  <div class="menu-item">
    <label for="map-style">Map style:</label>
    <select id="map-style" (change)="onMapStyleChanged($event)" [value]="mapStyle">
      <option *ngFor="let option of mapStyles">{{option}}</option>
    </select>
  </div>
  <!-- <div class="menu-item">
    <label for="show-labels">Show labels:</label>
    <input type="checkbox" id="show-labels" [value]="false" (change)="onShowLabelCheck($event)"/>
  </div> -->
</div>
