<div id="header-title-div" *ngIf="!(centreInfo && centreInfo.image && centreInfo.name)">
  <!-- <img id="centre-logo" src="assets/images/logo-asi-white.png" alt="ASI logo">
  <p id="app-title">Italian National Mirror</p> -->
  <img id="copsi-logo" src="./assets/images/COPSI_logo.svg" alt="Copsi logo">
  <p id="app-title"><span>COP</span>ernicus <span>S</span>pace <span>I</span>nterface</p>
  <!--<img id="copsi-logo" src="assets/images/COPSI_logotipo.svg" alt="Copsi logo">-->
</div>
<div id="header-title-div" *ngIf="centreInfo && centreInfo.image && centreInfo.name">
  <!-- <img id="centre-logo" src="assets/images/logo-asi-white.png" alt="ASI logo">
  <p id="app-title">Italian National Mirror</p> -->
  <a id="copsi-logo" href={{centreInfo.link}} target="_blank"><img id="centre-logo" src={{centreInfo.image}} alt={{centreInfo.alt}} title={{centreInfo.title}} ></a>
  <p id="app-title">{{centreInfo.name}}</p>
  <!--<img id="copsi-logo" src="assets/images/COPSI_logotipo.svg" alt="Copsi logo">-->
</div>
<div id="header-menu-div">
  <div class="header-menu-button-div">
    <mat-icon class="header-menu-button" id="user-icon" aria-hidden="false" aria-label="Account icon" fontIcon="account_circle" title="User menu" (click)="onUserMenuIconClick($event)"></mat-icon>
  </div>
  <div class="header-menu-button-div">
    <mat-icon class="header-menu-button" id="settings-icon" aria-hidden="false" aria-label="Settings icon" fontIcon="settings" title="Map settings" (click)="onSettingsMenuIconClick($event)"></mat-icon>
  </div>
</div>

<div id="user-menu" [@headerMenuAnimation]="showUser ? 'open' : 'closed'" (mouseover)="onUserMenuHover($event)" (mouseleave)="setUserMenuTimeout()">
  <mat-icon id="user-image" aria-hidden="false" aria-label="Account image" fontIcon="account_circle"></mat-icon>
  <p>Welcome <span>{{name}}!</span></p>
  <p>User Roles: <span>{{role}}</span></p>
  <hr style="width:100%;">
  <div class="user-option-div" (click)="onEditProfileClicked()">
    <mat-icon class="user-option-icon" aria-hidden="false" aria-label="edit user icon" fontIcon="edit_user"></mat-icon>
    <div class="user-option-text">Edit profile</div>
  </div>
  <div class="user-option-div" (click)="onChangePasswordClicked()">
    <mat-icon class="user-option-icon" aria-hidden="false" aria-label="change user password icon" fontIcon="key"></mat-icon>
    <div class="user-option-text">Change password</div>
  </div>
  <div class="user-option-div" (click)="onLogoutClicked()">
    <mat-icon class="user-option-icon" aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
    <div class="user-option-text">Logout</div>
  </div>
</div>

<div id="settings-menu" [@headerMenuAnimation]="showSettings ? 'open' : 'closed'" (mouseover)="onSettingsMenuHover($event)" (mouseleave)="setSettingsMenuTimeout()">
  <mat-icon id="settings-image" aria-hidden="false" aria-label="Settings image" fontIcon="settings"></mat-icon>
  <p>Map Settings</p>
  <hr style="width:100%;">
  <div class="menu-item-div">
    <label for="map-style">Map projection:</label>
    <select class="map-settings-menu" id="map-style" (change)="onMapStyleChanged($event)" [value]="mapStyle" [(ngModel)]="mapStyle">
      <option *ngFor="let option of mapStyles">{{option}}</option>
    </select>
  </div>
  <div class="menu-item-div">
    <label for="map-layer">Map layer:</label>
    <select class="map-settings-menu" id="map-layer" (change)="onMapLayerChanged($event)" [value]="mapLayer">
      <option *ngFor="let tile of mapTiles.styles">{{tile.name}}</option>
    </select>
  </div>
  <!-- <div class="menu-item-div">
    <label for="show-labels">Show labels:</label>
    <input type="checkbox" id="show-labels" [value]="false" (change)="onShowLabelCheck($event)"/>
  </div> -->
</div>
