@import "src/vars";

mat-icon:hover {
  opacity: 0.7;
}

/* CONTEXT MENU */
#context-menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: -5rem;
  padding: 0;
  border: $main-dark-border;
  border-radius: 0.25rem;
  background-color: $main-dark-bg-color;
  box-shadow: $default-shadow;
  z-index: 60;
}

#context-menu-container.visible {
  visibility: visible;
}

#context-menu-container.hidden {
  visibility: hidden;
}

#context-menu-container hr {
  width: 100%;
  margin: 0;
}

.context-menu-title {
  font-size: $search-bar-font-size;
  padding: 0.5rem 0 0.25rem 0;
}
#geo-search-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  //gap: 0.5rem;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;

  background-color: $menu-dark-bg-color;
  /* border: $main-dark-border; */
  /* box-shadow: $default-shadow; */
}
#vertical-separator {
  width: 1px;
  border: 1px solid grey;
}

/* FOOTPRINTS TOOLTIP */
/* #footprint-tooltip {
  position: absolute;
  flex-direction: column;
  padding: 0.25rem;
  background-color: $main-dark-bg-color;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  border-radius: 0.25rem;
} */
#footprint-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 0.25rem;
}
#footprint-tooltip.hidden {
  display: none;
  top: 0;
  left: -5rem;
}
#footprint-tooltip.visible {
  display: flex;
}
#footprint-tooltip-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footprint-tooltip-table {
  background-color: $menu-dark-bg-color;
  /* border: $main-dark-border; */
  /* box-shadow: $default-shadow; */
}
.footprint-tooltip-table th, td {
  padding: 0 0.5rem 0 0;
}
