/* #map-globe {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

#map-plane {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
 */
