#map {
  width: 100vw;
  height: 100vh;
}
#map-buttons {
  position: absolute;
  top: 10rem;
  right: 0.5rem;
}

.mapboxgl-ctrl-group {
  //margin:50px 50px 50px 50px !important;
  top: 4rem !important;
  //right: 0.5rem;
  position: absolute !important;
  //pointer-events: none;
  //z-index: 2;
}
.mapboxgl-ctrl-group .mapboxgl-ctrl {
  //margin:50px 50px 50px 50px !important;
}

