<div id="canvas-container">
  <canvas id='map-globe'></canvas>
  <canvas id='map-plane'></canvas>
</div>

<div id="context-menu-container" class="hidden" (mouseenter)="onMouseEnterContextMenu()" (mouseleave)="onMouseLeaveContextMenu()">
  <div id="geo-search-container">
    <div class="context-menu-title">
      Geo Search
    </div>
    <div id="geo-search-buttons-container">
      <div class="geo-search-command-div" (click)="this.onDrawRectButtonClicked(true)">
        <mat-icon id="rectangle-icon" class="material-icons-outlined" aria-hidden="false" aria-label="Rectangle icon" fontIcon="rectangle" title="Draw rectangle"></mat-icon>
        <p>Draw Rectangle</p>
      </div>
      <div class="geo-search-command-div" (click)="this.onDrawPolygonButtonClicked(true)">
        <mat-icon id="polygon-icon" class="material-icons-outlined" aria-hidden="false" aria-label="Polygon icon" fontIcon="polyline" title="Draw polygon"></mat-icon>
        <p>Draw Polygon</p>
      </div>
      <hr>
      <div class="geo-search-command-div" (click)="this.onCancelDrawingButtonClicked(true)">
        <mat-icon id="cancel-polygon-icon" class="material-icons-outlined" aria-hidden="false" aria-label="Cancel polygon icon" fontIcon="delete_forever" title="Cancel polygon"></mat-icon>
        <p>Cancel Drawings</p>
      </div>
    </div>
  </div>

  <div id="footprint-selection-container" *ngIf="hoveredProductShownArray.length > 0">
    <div class="context-menu-title">
      Products
    </div>
    <div *ngFor="let product of hoveredProductShownArray" class="footprint-tooltip-list-container">
      <div class="footprint-tooltip-table-div">
        <table class="footprint-tooltip-table" style="font-size: 0.75rem" (mouseover)="onMouseOverTooltipProductTable(product)">
          <tr>
            <td>Platform</td>
            <td>{{product.platformShortName}}{{product.platformSerialIdentifier}}</td>
          </tr>
          <tr *ngFor="let tag of product.tags">
            <td>{{tag.name}}</td>
            <td>{{tag.value}}</td>
          </tr>
        </table>
      </div>
      <div class="table-spacer"></div>
    </div>
  </div>
</div>
