<div id="main-login-container">
  <div id="login-form">
    <img id="copsi-logo" src="assets/images/COPSI_logotipo.svg" alt="Copsi logo">
    <p id="login-text">{{loginText}}</p>
    <div id="buttons-div">
      <button id="button-login" (click)="onLoginClicked()">
        <p class="button-text">Sign in</p>
        <!--<mat-icon class="button-icon" id="login-image" aria-hidden="false" aria-label="login image"
          fontIcon="login"></mat-icon>-->
      </button>
      <!--<button *ngIf="showSignUp" id="button-signup" (click)="onSignupClicked()">
        <p class="button-text">Sign up</p>
        <mat-icon class="button-icon" id="signup-image" aria-hidden="false" aria-label="signup image"
          fontIcon="how_to_reg"></mat-icon>
      </button>-->
    </div>
    <a *ngIf="showForgotPassword" href="https://www.google.it" style="color: #adf">Forgot password?</a>
  </div>
</div>
<app-search-bar></app-search-bar>
<app-header></app-header>
<app-footer></app-footer>
  