<div id="search-bar-main-div">
  <mat-icon id="search-menu-icon" aria-hidden="false" aria-label="Menu icon" fontIcon="menu" (click)="onSearchMenuClick($event)"></mat-icon>
  <input id="search-input" type="text" placeholder="Type a search string: e.g. *MSIL1C*" (keydown.enter)="onSearch($event)">
  <mat-icon id="search-magnifier-icon" aria-hidden="false" aria-label="Search icon" fontIcon="search" (click)="onSearch($event)"></mat-icon>
</div>

<div id="search-menu" [@searchMenuAnimation]="showSearchMenu ? 'open' : 'closed'">
  <p>Search Options</p>
  <hr style="width:100%;">
  <p>Option 1</p>
  <p>Option 2</p>
  <p>Option 3</p>
  <p>Option 4</p>
</div>

<div id="product-list-container" [@searchMenuAnimation]="showProductList ? 'open' : 'closed'">
  <div id="product-list-div">
    <div id="list-header">
      <p style="margin:10px 0;">Displaying {{productStartNumber}} to {{productEndNumber}} of {{productTotalNumber}} products </p>
    </div>
    <div id="list-items">
      <div class="list-item" *ngFor="let product of productList.value; let idx=index;">
        <div class="name-div">
          <div class="name-title">Name: </div>
          <div class="name-value" *ngIf="product.Name != null">{{product.Name}}</div>
        </div>
        <div class="data-row">
          <div class="item-data-column-div">
            <div class="item-metadata-column-div">
              <div class="item-row">
                <div class="item-title">Sensing Start: </div>
                <div class="item-value" *ngIf="product.ContentDate.Start != null"> {{product.ContentDate.Start}}</div>
              </div>
              <div class="item-row">
                <div class="item-title">Size: </div>
                <div class="item-value" *ngIf="product.ContentLength != null"> {{product.ContentLength}}</div>
                <div class="item-title"> bytes</div>
              </div>
            </div>
            <div class="item-row">
              <div class="tag" *ngIf="product.instrument != null" [ngStyle]="{'background-color': product.color}">{{product.instrument}}</div>
              <div class="tag" *ngIf="product.instrument == null && idx%2==0" [ngStyle]="{'background-color': '#ff6400'}">TEST TAG</div>
            </div>
          </div>
          <div class="ql-div">
            <div class="ql-buttons-div">
              <mat-icon id="copy" class="item-button-icon" aria-hidden="false" aria-label="Copy Product Url" title="Copy Product Url" fontIcon="file_copy"></mat-icon>
              <mat-icon id="download" class="item-button-icon" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"></mat-icon>
            </div>
            <div class="ql" *ngIf="product.hasQL == true || idx%2==0">
              <img class="quicklook" src="assets/images/ql.jpg">
            </div>
            <div class="ql" *ngIf="product.hasQL == null && idx%2==1">
              <img class="quicklook" src="assets/images/no-preview-1.png">
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
  <button id="showHideButton" (click)="onShowHideButtonClick($event)">
    <mat-icon id="showHideListIcon" class="showHideList-icon" aria-hidden="false" aria-label="showHideList" title="showHideList">keyboard_arrow_left</mat-icon>
  </button>
</div>
