<div id="search-bar-main-div">
  <mat-icon id="search-menu-icon" aria-hidden="false" aria-label="Menu icon" fontIcon="menu" (click)="onSearchMenuClick($event)"></mat-icon>
  <input id="search-input" type="text" placeholder="Type a search string: ex. *MSIL1C*" (keydown.enter)="search($event)">
  <mat-icon id="search-magnifier-icon" aria-hidden="false" aria-label="Search icon" fontIcon="search" (click)="search($event)"></mat-icon>
</div>
<div id="search-menu">
  <p>Search Options</p>
  <hr style="width:100%;">
  <p>Option 1</p>
  <p>Option 2</p>
  <p>Option 3</p>
  <p>Option 4</p>
</div>

<div id="product-list">
  <p style="margin:10px 0;">Displaying 1 to {{productList.products.length}} of {{productList.products.length}} products </p>
  <hr style="width:100%;">
  <td *ngFor="let data of productList.products">
    <div id="list-item">
      <div class="row item-row">
          <div [ngClass]="{'metadata':data.hasQL == true, 'metadata-large':!data.hasQL }">
              <p class="item-name item-name-bold" *ngIf="data.name != null">{{data.name}}</p>
              <p class="item-name" *ngIf="data.sensing != null"><span class="item-value">Sensing Start: </span> {{data.sensing}}</p>
              <p class="item-name" *ngIf="data.size != null"><span class="item-value">Size: </span>{{data.size}} bytes</p>
              <!--<p class="item-name" *ngIf="data.url != null">Download Url: {{data.url}}</p>-->
          </div>
          <div *ngIf="data.hasQL == true" class="ql">
              <img class=quicklook src="assets/images/ql.jpg">
          </div>
          <div *ngIf="data.hasQL ==null" class="ql">
            <img class=quicklook src="assets/images/no-preview-1.png">
        </div>
      </div>
      <div id="buttons" class="row">
          <span *ngIf="data.instrument != null" [ngStyle]="{'background-color': data.color}" class="tag">{{data.instrument}}</span>
          <mat-icon id="copy" class="item-button-icon" aria-hidden="false" aria-label="Copy Product Url" title="Copy Product Url" fontIcon="file_copy"></mat-icon>
          <mat-icon id="download" class="item-button-icon" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"></mat-icon>          
      </div>
    </div>
    <hr style="width:100%;">
  </td>
</div>
