@import "src/vars";

#search-bar-main-div {
  display: flex;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  padding: 0.5rem 0;
  width: $search-bar-width;
  border-radius: 0.25rem;
  border: $main-dark-border;
  box-shadow: $default-shadow;
  background-color: $main-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $search-bar-font-size;
  line-height: $search-bar-font-size;
  align-items: center;
}

#search-title {
  margin: auto;
}

#search-icon {
  position: absolute;
  right: 0.5rem;
}

#search-menu {
  position: absolute;
  display: none;
  top: 2rem;
  left: 0rem;
  width: $search-bar-width;
  height: 5rem;

  border-radius: 0.25rem;
  border: $menu-dark-border;
  box-shadow: $default-shadow;
  background-color: $menu-dark-bg-color;
  color: $main-dark-text-color;
  font-size: $search-bar-font-size;
}
