<div id="search-bar-main-div">
  <mat-icon *ngIf="advancedFilterIsActive == false" id="advanced-search-icon" aria-hidden="false" aria-label="advanced search icon" fontIcon="menu" title="Show advanced filter" (click)="onShowAdvancedSearch($event)"></mat-icon>
  <mat-icon *ngIf="advancedFilterIsActive == true" id="advanced-search-icon-filtered" aria-hidden="false" aria-label="advanced search icon" fontIcon="filter_list" title="Show advanced filter" (click)="onShowAdvancedSearch($event)"></mat-icon>
  <input id="search-input" type="text" placeholder="Type a search string: e.g. *MSIL1C*" [(ngModel)]="filter"   (keydown.enter)="onSearch($event)" value="{{filter}}">
  <div id="search-magnifier-icon-div">
    <mat-icon id="search-magnifier-icon" aria-hidden="false" aria-label="Search icon" fontIcon="search" title="Perform search" (click)="onAdvancedSearchSubmit($event)"></mat-icon>
  </div>
</div>

<div id="advanced-search-menu" [@searchMenuAnimation]="showAdvancedSearch ? 'open' : 'closed'">
  <div id="advanced-search-title-div">
    <p>Advanced Search</p>
    <div id="advanced-search-title-buttons-div">
      <mat-icon id="advanced-search-clear-icon" aria-hidden="false" aria-label="advanced search clear icon" title="Clear all filters" (click)="onAdvancedSearchClear($event)">delete_outline</mat-icon>
      <mat-icon id="advanced-search-submit-icon" aria-hidden="false" aria-label="advanced search submit icon" title="Perform search" (click)="onAdvancedSearchSubmit($event)">done</mat-icon>
    </div>
  </div>
  <!-- hr -->
  <hr>
  <div id="advanced-search-filter-output-scrollable-container">
    <div id="advanced-search-filter-output" [title]="(productFilter !== '' && attributeFilter !== '') ? productFilter + ' and ' + attributeFilter : ''">
      <p id="filter-output-title">
        Product Filter: <span>{{productFilter}}</span>
      </p>
      <p>
        Attribute Filter: <span>{{attributeFilter}}</span>
      </p>
    </div>
  </div>
  <!-- hr -->
  <hr>
  <div id="advanced-search-scrollable-container">
    <div class="advanced-search-main-filters">
      <div class="advanced-search-item-div">
        <label for="order-by">Order by:</label>
        <select class="select" title="Change order value" (change)="onOrderByChanged($event)">
          <option *ngFor="let option of orderByOptions">{{option.name}}</option>
        </select>
      </div>
      <div class="advanced-search-item-div">
        <label for="sort-by">Sort by:</label>
        <select class="select" title="Change sort value" (change)="onSortByChanged($event)">
          <option *ngFor="let option of sortByOptions">{{option.name}}</option>
        </select>
      </div>
      <!-- hr -->
      <hr style="margin: 0.5rem 0;">
      <div class="advanced-search-item-div">
        <label for="sensing-start">Sensing date:</label>
        <div class="datepicker-div">
          <input type="date" class="date" id="sensing-start" name="sensing-start" [max]="todayDate" title="Sensing start date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
          <span>-</span>
          <input type="date" class="date" id="sensing-stop" name="sensing-stop" [max]="todayDate" title="Sensing stop date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
        </div>
      </div>
      <div class="advanced-search-item-div">
        <label for="publication-start">Publication date:</label>
        <div class="datepicker-div">
          <input type="date" class="date" id="publication-start" name="publication-start" [max]="todayDate" title="Publication start date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
          <span>-</span>
          <input type="date" class="date" id="publication-stop" name="publication-stop" [max]="todayDate" title="Publication start date" (change)="parseAdvancedFilter()" (click)="onDateClicked($event)">
        </div>
      </div>
    </div>
    <!-- hr -->
    <hr>
    <div class="collapsible-section" *ngFor="let el of advancedSearchElements">
      <div class="collapsible-header-div">
        <button type="button" class="collapsible-header">{{el.name}}: {{el.mission}}</button>
        <div class="mission-filter">
          <label class="switch" title="Toggle mission filter">
            <input type="checkbox" class="checkbox" (click)="onMissionFilterButtonClicked($event)">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="content">
        <div *ngFor="let filter of el.filters" class="advanced-search-filter-div">
          <label for="filter">{{filter.name}}:</label>
          <select *ngIf="filter.hasOwnProperty('value')" class="select" name="filter" title="Select {{filter.name}}" (change)="parseAdvancedFilter()">
            <option selected value="">---</option>
            <option *ngFor="let value of filter.value">{{value}}</option>
          </select>
          <input *ngIf="filter.hasOwnProperty('needsMinMaxValues') && filter.needsMinMaxValues == false" class="input" type="number" name="filter" [min]="filter.minValue" [max]="filter.maxValue" [step]="filter.step" title="Type a number from {{filter.minValue}} to {{filter.maxValue}}" (change)="parseAdvancedFilter()">
          <div *ngIf="filter.hasOwnProperty('needsMinMaxValues') && filter.needsMinMaxValues == true" class="min-max-input-div">
            <input class="input-min" type="number" name="filter" [min]="filter.minValue" [max]="filter.maxValue" [step]="filter.step" title="Min value - Type a number from {{filter.minValue}} to {{filter.maxValue}}" (change)="parseAdvancedFilter()">
            <span>-</span>
            <input class="input-max" type="number" name="filter" [min]="filter.minValue" [max]="filter.maxValue" [step]="filter.step" title="Max value - Type a number from {{filter.minValue}} to {{filter.maxValue}}" (change)="parseAdvancedFilter()">
          </div>
        </div>
      </div>
      <!-- hr -->
      <hr>
    </div>
  </div>
  <div id="filter-output-scroll-thumb"></div>
  <div id="advanced-search-scroll-thumb"></div>
</div>

<div id="product-list-container" [@searchMenuAnimation]="showProductList && listIsReady ? 'open' : 'closed'">
  <div id="product-list-div">
    <div id="product-list-header">
      <div id="page-buttons-div" *ngIf="productTotalNumber > 0">
        <mat-icon id="load-prev" class="load-page-icon" aria-hidden="false" aria-label="load prev page" title="Load prev page" fontIcon="navigate_before" (click)="loadPageFromButtons(-1)"></mat-icon>
        <mat-icon id="load-next" class="load-page-icon" aria-hidden="false" aria-label="load next page" title="Load next page" fontIcon="navigate_next" (click)="loadPageFromButtons(1)"></mat-icon>
      </div>
      <div id="product-list-header-text" *ngIf="productTotalNumber > 0">Displaying {{productStartNumber}} to {{productEndNumber}} of {{productTotalNumber}} products</div>
      <div id="product-list-header-text" *ngIf="productTotalNumber == 0">No products found..</div>
      <div id="product-list-header-icons-div" *ngIf="productTotalNumber > 0">
        <mat-icon id="detailed-view" class="view-style-icon" aria-hidden="false" aria-label="detailed view" title="Detailed view" fontIcon="format_align_justify" (click)="setListView('detailed')"></mat-icon>
        <mat-icon id="simple-view" class="view-style-icon" aria-hidden="false" aria-label="simple view" title="Simple view" fontIcon="notes" (click)="setListView('simple')"></mat-icon>
        <mat-icon id="minimal-view" class="view-style-icon" aria-hidden="false" aria-label="minimal view" title="Minimal view" fontIcon="short_text" (click)="setListView('minimal')"></mat-icon>
      </div>
    </div>
    <div id="list-items-parent-container">
      <div id="list-items-container">
        <div class="list-item-div" *ngFor="let product of productList.value; let idx=index;" [attr.data-productid]="product.Id" (mouseover)="hoverProduct($event)" (mouseleave)="leaveProduct($event)">
          <div class="product-name-div">
            <div class="product-name-value" *ngIf="product.Name != null && showDetailedView">{{product.Name}}</div>
          </div>
          <div class="product-data-row-div">
            <div class="product-data-column-div">
              <div class="product-metadata-column-div">
                <div class="metadata-row">
                  <img class="metadata-svg" aria-hidden="false" aria-label="product" title="Platform" src="./assets/images/satellite-icon.svg" alt="satellite-icon">
                  <div class="metadata-value">{{product.platformShortName}}{{product.platformSerialIdentifier}}</div>
                </div>
                <div class="metadata-row">
                  <mat-icon class="metadata-icon" aria-hidden="false" aria-label="product-sensing" title="Sensing Start" fontIcon="today"></mat-icon>
                  <div class="metadata-value" *ngIf="product.ContentDate.Start != null">{{product.ContentDate.Start}}</div>
                </div>
                <div class="metadata-row">
                  <mat-icon class="metadata-icon" aria-hidden="false" aria-label="product-size" title="Size" fontIcon="dns"></mat-icon>
                  <div class="metadata-value" *ngIf="product.ContentLength != null">{{product.ContentLength}}</div>
                  <div class="metadata-value-italic">bytes</div>
                  <div class="metadata-value" *ngIf="product.ContentLength != null">( {{simplifyBytes(product.ContentLength)}} )</div>
                </div>
              </div>
              <div class="progress-div">
                <mat-progress-bar class="progress-bar"
                  *ngIf="product.download && (product.download.state == 'IN_PROGRESS' || product.download.state == 'PENDING' )"
                  [mode]="product.download.state == 'PENDING' ? 'determinate' : 'determinate'"
                  [value]="product.download.progress">
                </mat-progress-bar>
                <div class="progress-value" *ngIf="product.download && (product.download.state == 'IN_PROGRESS' || product.download.state == 'PENDING' )">
                  {{product.download.progress}}%
                </div>
              </div>
            </div>
            <div class="tag-ql-div">
              <div class="tag-div">
                <div class="tag" *ngFor="let tag of product.tags" [ngStyle]="{'background-color': tag.color}" [title]="tag.title ? tag.title.concat(': ').concat(tag.value) : tag.name">{{beautifyTag(tag.value)}}</div>
              </div>

              <div class="ql-div">
                <div class="ql" *ngIf="product.hasQL == true && showSimpleView">
                  <img class="quicklook" [src]="product.qlURL">
                </div>
                <div class="ql" *ngIf="product.hasQL == null && showSimpleView">
                  <img class="quicklook" src="./assets/images/no-preview-1.png">
                </div>

                <div class="ql-buttons-div">
                  <mat-icon id="copy" class="item-button-icon" aria-hidden="false" aria-label="Copy Product Url" title="Copy Product Url" fontIcon="file_copy"
                  (click)="copyUrl(product.Id)"></mat-icon>
                  <ng-template [ngIf]="product.download.state" [ngIfElse]="downloadDefault">
                    <mat-icon *ngIf="product.download.state == 'DONE'" id="download" class="item-button-icon downloaded" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"
                      (click)="downloadProduct(product.Id, product.Name)"></mat-icon>
                    <mat-icon *ngIf="(product.download.state == 'IN_PROGRESS' || product.download.state == 'PENDING')" class="progress-cancel" aria-hidden="false" aria-label="cancel-download" title="Cancel download" fontIcon="clear"
                      (click)="unsubscribeDownload(product.Id)"></mat-icon>
                  </ng-template>
                  <ng-template #downloadDefault>
                    <mat-icon id="download" class="item-button-icon" aria-hidden="false" aria-label="Download Product" title="Download Product" fontIcon="download"
                      (click)="downloadProduct(product.Id, product.Name)"></mat-icon>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="product-list-scroll-thumb"></div>
      </div>
      <button id="show-hide-button" *ngIf="productTotalNumber > 0" title="Show/Hide list" (click)="onShowHideButtonClick($event)">
        <mat-icon *ngIf="productListRolled == true" id="show-hide-list-icon" class="showHideList-icon" aria-hidden="false" aria-label="showHideList">keyboard_arrow_right</mat-icon>
        <mat-icon *ngIf="productListRolled == false" id="show-hide-list-icon" class="showHideList-icon" aria-hidden="false" aria-label="showHideList">keyboard_arrow_left</mat-icon>
      </button>
    </div>
  </div>
</div>
