@import "./vars";

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "NotesESA-Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: $main-text-color;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Scrollbar styling */
/* Works on Firefox */
* {
  scrollbar-color: $main-buttons-bg-color $scrollbar-bg-color;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $scrollbar-bg-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $main-buttons-bg-color;
  border-radius: 20px;
  border: 3px solid $scrollbar-bg-color;
}


@font-face {
  font-family: "NotesESA-Reg";
  src: local("NotesESA-Reg"), url(./assets/fonts/NotesESA/NotesEsaReg.otf) format("opentype");
}
@font-face {
  font-family: "NotesESA-Bol";
  src: local("NotesESA-Bol"), url(./assets/fonts/NotesESA/NotesEsaBol.otf) format("opentype");
}

.mapboxgl-ctrl {
  display: none !important;
}

.mapboxgl-ctrl-bottom-left {
  display: none !important;
}