/* Custom properties */
$scrollbar-bg-color: #29333c;
$main-text-color: #dfdfdf;
$main-buttons-bg-color: #6a6d76;

/* light theme */
$main-light-bg-color: #ffffff;
$main-light-text-color: #000000;

/* dark theme */
/* main */
$main-dark-bg-color: #202020cc;
$main-dark-text-color: #fffff0;
$main-dark-border: 0.5px solid darken($main-dark-bg-color, 5%);
/* menu */
$menu-dark-bg-color: lighten($main-dark-bg-color, 10%);
$menu-dark-border: 0.5px solid darken($menu-dark-bg-color, 5%);

/* footer */
$footer-font-size: 0.8rem;

/* header */
$header-font-size: 1rem;
$header-menu-width: 16rem;

/* search bar */
$search-bar-font-size: 1rem;
$search-bar-width: 30rem;

/* miscellaneus */
$default-shadow: 0 2px 4px rgba(0,0,0,0.5);
