/* Custom properties */
$scrollbar-bg-color: #29333c;
$main-text-color: #fff;
$main-buttons-bg-color: #dddddd;
$main-buttons-bg-color-hover: #ababab;


/* light theme */
$main-light-bg-color: #ffffff;
$main-light-text-color: #000000;

/* dark theme */
/* main */
$main-dark-bg-color: #202020cc;
$main-dark-text-color: $main-text-color;// #fffff0;
$main-dark-border: 0.5px solid darken($main-dark-bg-color, 5%);
$main-light-border: 0.5px solid lighten($main-dark-bg-color, 50%);
/* menu */
$menu-dark-bg-color: lighten($main-dark-bg-color, 15%);
$menu-dark-border: 0.5px solid darken($menu-dark-bg-color, 5%);

/* footer */
$footer-font-size: 0.8rem;
$footer-title-font-size: 0.9rem;
$footer-icon-font-size: 1rem;
$footer-icon-div-width: 3rem;
$footer-div-width: 26rem;
$footer-dark-bg-color: lighten(#20202070, 40%);
$footer-copsi-height: 4.5rem;

/* header */
$header-font-size: 1rem;
$header-title-font-size: 0.9rem;
$header-menu-title-width: 15rem;
$header-menu-icon-width: 5rem;
$header-menu-width: calc($header-menu-title-width + $header-menu-icon-width);
$header-logo-height: 1.0rem;

/* search bar */
$search-bar-font-size: 1rem;
$search-bar-width: 24rem;

/* miscellaneus */
$default-shadow: 0 2px 4px rgba(0,0,0,0.5);
$login-shadow: 0 2px 50px rgba(0,0,0,1.0);
$copsi-blue: #00aeef;
$default-title-div-height: 2rem;
$font-family: "NotesESA-Reg";
