/* Custom properties */
$main-text-color: #fff;
$main-buttons-bg-color-hover: #ababab;

/* light theme */
$main-light-bg-color: #ffffff;
$main-light-text-color: #000000;

/* dark theme */
/* main */
$main-dark-bg-color: #202020cc;
$main-dark-bg-color-opaque: #202020f6;
$main-dark-text-color: #ffffff;
$main-dark-border: 0.5px solid darken($main-dark-bg-color, 5%);
$main-light-border: 0.5px solid lighten($main-dark-bg-color, 50%);
/* menu */
$menu-dark-bg-color: lighten($main-dark-bg-color, 15%);
$menu-dark-bg-color-opaque: lighten($main-dark-bg-color-opaque, 15%);
$menu-dark-border: 0.5px solid darken($menu-dark-bg-color, 5%);

/* footer */
$footer-font-size: 0.8rem;
$footer-font-size-mobile: 0.6rem;
$footer-title-font-size: 0.9rem;
$footer-icon-font-size: 1rem;
$footer-icon-div-width: 3rem;
$footer-div-width: 26rem;
$footer-dark-bg-color: lighten(#20202070, 40%);
$footer-copsi-height: 4.5rem;

/* header */
$header-font-size: 0.8rem;
$header-title-font-size: 0.9rem;
$header-title-font-size-mobile: 0.8rem;
$header-menu-title-width: 15rem;
$header-menu-title-width-mobile: 10rem;
$header-menu-title-width-mobile-little: 3.5rem;
$header-menu-icon-width: 5rem;
$header-menu-width: calc($header-menu-title-width + $header-menu-icon-width);
$header-menu-width-mobile: calc($header-menu-title-width-mobile + $header-menu-icon-width);
$header-menu-width-mobile-little: calc($header-menu-title-width-mobile-little + $header-menu-icon-width);
$header-logo-height: 1.0rem;

/* search bar */
$search-bar-font-size: 1rem;
$search-bar-font-size-mobile: 0.8rem;
$search-bar-font-size-small: 0.75rem;
$search-bar-font-size-small-mobile: 0.65rem;
$search-bar-width: 26rem;
$search-bar-width-mobile: 20rem;
$search-bar-product-icons-dim: 1.0rem;

/* toast */
$toast-font-size: $footer-font-size;
$toast-font-size-mobile: 0.7rem;
$toast-default-color: $menu-dark-bg-color;
$toast-success-color: #419641;
$toast-error-color: #ff4141;

/* miscellaneus */
$default-shadow: 0 2px 4px rgba(0,0,0,0.5);
$login-shadow: 0 2px 50px rgba(0,0,0,1.0);
$copsi-blue: #00aeef;
$default-title-div-height: 2rem;
$font-family: "NotesESA-Reg";
$scrollbar-bg-color: #0000;
$main-buttons-bg-color: #dddddd;


/* responsiveness */
$screen-width-threshold-medium: 48rem;
$screen-width-threshold-little: 44rem;
$screen-minimum-width: 37rem;

/* progress bar download*/
$progress-bar-product-download-dim: 2.0rem;